* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;
}

.main {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top: solid 3px white;
    border-left: solid 3px white;
    border-bottom: solid 3px white;
    margin-left: 35px;
    padding: 20px 10px 0 20px;
    height: 450px;
    text-align: left;
    background: #3b536b;
    width: 70%;
    color: white;
}

#seaturtle {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 3px white;
    height: 470px;
}

.main2 {
    border-top: solid 3px white;
    border-right: solid 3px white;
    border-bottom: solid 3px white;
    padding: 20px 10px 0 20px;
    height: 460px;
    text-align: left;
    background: #3b536b;
    width: 69.5%;
    color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#landturtle {
    border: solid 3px white;
    height: 460;
    margin-left: 35px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#slug {
    border: solid 3px white;
    height: 470px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.cards {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid {
    display: grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}

.grid-item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card-content {
    padding: 3rem;
}

.card-header {
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #3363ff;
    background: #d8e0fd;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.car-btn span {
    margin-left: 1rem;
    transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
    background-color: #c2cffc
}

.card-btn:hover span,
.card-btn:active span {
    margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
    .cards {
        padding: 3rem;
    }
    .grid {
        grid-gap: 3rem;
    }
}

@media (max-width: 1960px) {
    #seaturtle {
        border: solid 3px white;
        height: 470px;
    }
    .main {
        border-top: solid 3px white;
        border-left: solid 3px white;
        border-bottom: solid 3px white;
        margin-left: 35px;
        padding: 20px 10px 0 20px;
        height: 450px;
        text-align: left;
        background: #3b536b;
        width: 50%;
        color: white;
    }
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        margin-top: 25px;
        margin-left: 8%;
    }
    #landturtle {
        border: solid 3px white;
        height: 470px;
        margin-left: 35px;
    }
    .main2 {
        border-top: solid 3px white;
        border-right: solid 3px white;
        border-bottom: solid 3px white;
        padding: 20px 10px 0 20px;
        height: 450px;
        text-align: left;
        background: #3b536b;
        width: 50%;
        color: white;
    }
}

@media (max-width: 1183px) {
    #seaturtle {
        border: solid 3px white;
        height: 450px;
    }
    .main {
        border-top: solid 3px white;
        border-left: solid 3px white;
        border-bottom: solid 3px white;
        margin-right: 10px;
        padding: 20px 10px 0 20px;
        height: 430px;
        text-align: left;
        background: #3b536b;
        width: 50%;
        color: white;
    }
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        margin-top: 25px;
        margin-left: -10%;
    }
    #landturtle {
        border: solid 3px white;
        height: 470px;
        margin-left: 35px;
    }
    .main2 {
        border-top: solid 3px white;
        border-right: solid 3px white;
        border-bottom: solid 3px white;
        padding: 20px 10px 0 20px;
        height: 450px;
        text-align: left;
        background: #3b536b;
        width: 50%;
        color: white;
    }
}