* {
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 50px auto;

}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #0055c5;
    color: #fff;
}
h1 {
    margin-bottom: 10px;
}
.container p {
    margin-bottom: 40px;
}
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group {
    flex-basis: 45%;
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label {
    margin-bottom: 6px;
    display: block;
    color: #0055c5;

}
button {
    background: #0055c5;
    width: 100px;
    border: none;
    outline: none;
    color:#fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3 {
    color: #0055c5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child {
    padding-right: 20px;
}
tr td {
    padding-top: 20px;
}
body {
    height: 1008px;
    background: linear-gradient(180deg, #44A7C4, #4F42B5);
    }
   nav{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    padding: -5px;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background: #34495e;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
   }
   nav a{
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-align: center;
   }
   nav .animation{
    position: absolute;
    height: 100%;
    height: 5px;
    bottom: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
   }
   nav a:nth-child(1){
    width: 5%;
   }
   nav a:nth-child(1):hover~.animation{
    width: 7%;
    left: 3.2%;
   }
   nav a:nth-child(2){
    width: 5%;
   }
   nav a:nth-child(2):hover~.animation{
    width: 6%;
    left: 17.1%;
   }
   nav a:nth-child(3){
    width: 5%;
   }
   nav a:nth-child(3):hover~.animation{
    width: 6%;
    left: 30.8%;
   }
   nav a:nth-child(4){
    width: 7.5%;
   }
   nav.a:nth-child(4):hover~.animation{
    width: 8.5%;
    left: 55%;
   }
   nav a:nth-child(5){
    width: 6.5%;
   }
   nav a:nth-child(5):hover~.animation{
    width: 7.5%;
    left: 57.7%;
   }
   nav a:nth-child(6){
    width: 7.5;
   }
   nav .start-home, a:nth-child(6):hover~.animation{
    width: 8.5%;
    left: 72.3%;
   }
   nav a:nth-child(7){
       width:7.5%;
   }
   nav a:nth-child(7):hover~.animation{
    width: 8.5%;
    left: 87.6%;
   }
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #001220;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #44A7C4 0%, #4F42B5 51%, #202176 75%);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .Logo {
    height: 80px;
  }
  .navstyle {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }