* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
}
body {
    height: 1008px;
    background: linear-gradient(180deg, #44A7C4, #4F42B5);
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    height: 500px;
    width: 290px;
    margin: 20px;
    box-shadow: 0 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #222;
}
.card .bg-image img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
}
.card .pic img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid #222;
    margin-top: -90px;
    position: relative;
}
.card .info h3 {
    color: #f0f0f0;
    font-size: 20px;
    padding: 10px 0;
}
.card .info span {
    font-size: 15px;
    color: #e74c3c;

}
.card .info p {
    font-size: 13px;
    padding: 10px 20px;
    color:#999;
}
.card .info .icons a {
    font-size: 20px;
    text-decoration: none;
    color: #e74c3c;
    margin-top: 20px;
    padding: 0 5px;
}
.card .info .icons a:hover {
    color: #f0f0f0;

}

nav{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    padding: -5px;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background: #34495e;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    z-index: 10000;
}
nav a{
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-align: center;
}
nav .animation{
    position: absolute;
    height: 100%;
    height: 5px;
    bottom: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}
nav a:nth-child(1){
    width: 5%;
}
nav a:nth-child(1):hover~.animation{
    width: 7%;
    left: 3.2%;
}
nav a:nth-child(2){
    width: 6%;
   }
   nav a:nth-child(2):hover~.animation{
    width: 7.5%;
    left: 16.9%;
   }
   nav a:nth-child(3){
    width: 5%;
   }
   nav a:nth-child(3):hover~.animation{
    width: 6%;
    left: 31.5%;
   }
nav a:nth-child(4){
    width: 7.5%;
}
nav a:nth-child(4):hover~.animation{
    width: 8.5%;
    left: 55%;
}
nav a:nth-child(5){
    width: 6.5%;
}
nav a:nth-child(5):hover~.animation{
    width: 7.5%;
    left: 57.7%;
}
nav a:nth-child(6){
    width: 7.5;
}
nav a:nth-child(6):hover~.animation{
    width: 8.5%;
    left: 72.3%;
}
nav a:nth-child(7){
    width:7.5%;
}
nav .start-home, a:nth-child(7):hover~.animation{
    width: 8.5%;
    left: 87.6%;
}
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #001220;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #44A7C4 0%, #4F42B5 51%, #202176 75%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.Logo {
    height: 80px;
}
.navstyle {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
section {
    margin-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}