body {
    height: 6000px;
    background: linear-gradient(180deg, #44A7C4 0%, #4F42B5 51%, #202176 75%);
}

#margins {
    width: 1242px;
}

nav {
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background: #34495e;
    font-size: 0;
}

nav a {
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav .animation {
    position: absolute;
    height: 100%;
    height: 5px;
    bottom: 0;
    z-index: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

#contact-nav {
    margin: 0;
}

#about-nav {
    margin: 0;
}

#credits-nav {
    margin: 0;
}

nav a:nth-child(1) {
    width: 100px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
}

nav a:nth-child(2) {
    width: 110px;
}

nav a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
}

nav a:nth-child(3) {
    width: 100px;
}

nav a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
}

nav a:nth-child(5) {
    width: 110px;
}

nav a:nth-child(5):hover~.animation {
    width: 110px;
    left: 1550px;
}

nav a:nth-child(6) {
    width: 120px;
}

nav a:nth-child(6):hover~.animation {
    width: 120px;
    left: 1660px;
}

nav a:nth-child(7) {
    width: 110px;
}

nav a:nth-child(7):hover~.animation {
    width: 110px;
    left: 1782px;
}


/* width */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #34495e;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #44A7C4 0%, #4F42B5 51%, #202176 75%);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 1860px) {
    #margins {
        width: 56%;
    }
    nav a:nth-child(5) {
        width: 110px;
    }
    nav a:nth-child(5):hover~.animation {
        width: 110px;
        left: 76.4%;
    }
    nav a:nth-child(6) {
        width: 120px;
    }
    nav a:nth-child(6):hover~.animation {
        width: 120px;
        left: 83.5%;
    }
    nav a:nth-child(7) {
        width: 110px;
    }
    nav a:nth-child(7):hover~.animation {
        width: 110px;
        left: 91.5%;
    }
}

@media (max-width: 1493px) {
    #margins {
        width: 55%;
    }
    nav a:nth-child(5) {
        width: 110px;
    }
    nav a:nth-child(5):hover~.animation {
        width: 110px;
        left: 74.4%;
    }
    nav a:nth-child(6) {
        width: 120px;
    }
    nav a:nth-child(6):hover~.animation {
        width: 120px;
        left: 82.2%;
    }
    nav a:nth-child(7) {
        width: 110px;
    }
    nav a:nth-child(7):hover~.animation {
        width: 110px;
        left: 91%;
    }
}

@media (max-width: 1429px) {
    #margins {
        width: 53%;
    }
}

@media (max-width: 1370px) {
    #margins {
        width: 51%;
    }
}

@media (max-width: 1250px) {
    #margins {
        width: 34%;
    }
}